twiki/pub/Literature/WebHome/fl-australia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Helen S. Thompson (Australian Biological Resources Study) -->
<!--W3C Schema generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="HID" type="xs:string"/>
	<xs:complexType name="as_name" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="author" type="xs:string"/>
	<xs:element name="author_autonym">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="bibliography" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="chromosome" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="common_name"/>
	<xs:complexType name="conservation_status" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="contributor" type="note"/>
	<xs:element name="contributor_address" type="xs:string"/>
	<xs:complexType name="contributor_info">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="contributor"/>
			<xs:element ref="contributor_address"/>
			<xs:element name="contributor_note">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="note">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="i"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="seq" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:element name="contributor_note"/>
	<xs:complexType name="contributors">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="contributor_info" type="contributor_info"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="date" type="xs:string"/>
	<xs:complexType name="description" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="distribution" mixed="true">
		<xs:attribute name="seq">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="etymology" type="note"/>
	<xs:element name="family" type="xs:string"/>
	<xs:element name="genus" type="xs:string"/>
	<xs:complexType name="habitat" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="hybrid_parent_1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hybrid_parent_2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="i" type="xs:string"/>
	<xs:complexType name="identification">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="key_title" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="key_contributors" type="key_contributors" minOccurs="0"/>
			<xs:element name="key_note_front" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="key_note_front">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="i"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="key" type="key"/>
			<xs:element name="key_note_end" type="key_note_end" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="seq">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="illustrations" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="image">
		<xs:sequence>
			<xs:element ref="image_text"/>
			<xs:element ref="image_url"/>
		</xs:sequence>
		<xs:attribute name="kind" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="fig"/>
					<xs:enumeration value="map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="seq" use="optional"/>
	</xs:complexType>
	<xs:element name="image_text" type="xs:string"/>
	<xs:complexType name="image_url">
		<xs:simpleContent>
			<xs:restriction base="xs:string">
				<xs:attribute name="seq">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="in_author" type="note"/>
	<xs:complexType name="kd" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="key">
		<xs:sequence>
			<xs:element name="kr" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="kr">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="kn"/>
								<xs:element name="kd" type="kd"/>
								<xs:element ref="key_to" minOccurs="0"/>
								<xs:element ref="key_seq" minOccurs="0"/>
								<xs:element ref="kt_symbol" minOccurs="0"/>
								<xs:element ref="key_rank" minOccurs="0"/>
								<xs:element name="kt" type="kt" minOccurs="0"/>
								<xs:element name="kt_extra" type="kt_extra" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="key_from" minOccurs="0"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="key_contributor" type="xs:string"/>
	<xs:element name="key_contributor_address" type="xs:string"/>
	<xs:complexType name="key_contributor_info">
		<xs:sequence>
			<xs:element ref="key_contributor"/>
			<xs:element ref="key_contributor_address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="key_contributors">
		<xs:sequence>
			<xs:element name="key_contributor_info" type="key_contributor_info"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="key_hybrid_parent_1" type="xs:string"/>
	<xs:element name="key_hybrid_parent_2" type="xs:string"/>
	<xs:complexType name="key_note_end" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
		<xs:attribute name="seq" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="key_note_front" mixed="true">
		<xs:attribute name="seq" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:element name="key_rank">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="kingdom"/>
				<xs:enumeration value="division"/>
				<xs:enumeration value="class"/>
				<xs:enumeration value="order"/>
				<xs:enumeration value="fam."/>
				<xs:enumeration value="subfam."/>
				<xs:enumeration value="trib."/>
				<xs:enumeration value="subtrib."/>
				<xs:enumeration value="gen."/>
				<xs:enumeration value="subg."/>
				<xs:enumeration value="sect."/>
				<xs:enumeration value="subsect"/>
				<xs:enumeration value="ser."/>
				<xs:enumeration value="subser."/>
				<xs:enumeration value="sp."/>
				<xs:enumeration value="subsp."/>
				<xs:enumeration value="var."/>
				<xs:enumeration value="f."/>
				<xs:enumeration value="form taxon"/>
				<xs:enumeration value="group"/>
				<xs:enumeration value="subgroup"/>
				<xs:enumeration value="informal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="key_seq">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="key_title" type="xs:string"/>
	<xs:element name="key_to" type="xs:string"/>
	<xs:element name="kn">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="kr"/>
	<xs:complexType name="kt" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="key_hybrid_parent_1"/>
			<xs:element ref="key_hybrid_parent_2"/>
		</xs:choice>
		<xs:attribute name="kind">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="hybrid_formula"/>
					<xs:enumeration value="named_hybrid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="kt_extra" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="kt_symbol" type="xs:string"/>
	<xs:complexType name="name" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="hybrid_parent_1"/>
			<xs:element ref="hybrid_parent_2"/>
		</xs:choice>
		<xs:attribute name="kind" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="name_info">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="family" minOccurs="0"/>
			<xs:element ref="status" minOccurs="0"/>
			<xs:element ref="rank"/>
			<xs:element ref="parent"/>
			<xs:element ref="genus" minOccurs="0"/>
			<xs:element ref="species" minOccurs="0"/>
			<xs:element ref="author_autonym" minOccurs="0"/>
			<xs:element name="name" type="name"/>
			<xs:element name="author" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="protologue" type="protologue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="as_name" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="name_note" type="name_note" minOccurs="0"/>
			<xs:element name="qualifier" type="xs:string" minOccurs="0"/>
			<xs:element name="rank_qualified" type="xs:string" minOccurs="0"/>
			<xs:element ref="subsp" minOccurs="0"/>
			<xs:element ref="var" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="name_note" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="name_symbol" type="xs:string"/>
	<xs:complexType name="note" mixed="true">
		<xs:attribute name="seq">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kind" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:element name="parent" type="xs:string"/>
	<xs:element name="phenology" type="xs:string"/>
	<xs:complexType name="prenote" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="protologue">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="ref">
				<xs:complexType mixed="true">
					<xs:choice maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
					<xs:attribute name="seq" type="xs:NMTOKEN"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="in_author" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="date">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="protologue_note" type="protologue_note" minOccurs="0"/>
			<xs:element name="as_name" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="seq" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:complexType name="protologue_note" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="rank">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="kingdom"/>
				<xs:enumeration value="division"/>
				<xs:enumeration value="class"/>
				<xs:enumeration value="order"/>
				<xs:enumeration value="fam."/>
				<xs:enumeration value="subfam."/>
				<xs:enumeration value="trib."/>
				<xs:enumeration value="subtrib."/>
				<xs:enumeration value="gen."/>
				<xs:enumeration value="subg."/>
				<xs:enumeration value="sect."/>
				<xs:enumeration value="subsect."/>
				<xs:enumeration value="ser."/>
				<xs:enumeration value="subser."/>
				<xs:enumeration value="sp."/>
				<xs:enumeration value="subsp."/>
				<xs:enumeration value="var."/>
				<xs:enumeration value="f."/>
				<xs:enumeration value="form taxon"/>
				<xs:enumeration value="group"/>
				<xs:enumeration value="subgroup"/>
				<xs:enumeration value="informal"/>
				<xs:enumeration value="key"/>
				<xs:enumeration value="specieslist"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ref" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="seq">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="specimens" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="doubtful"/>
				<xs:enumeration value="hybrid"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="synonym" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="synonym_info" type="synonym_info"/>
			<xs:element name="type" type="type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="kind" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="misapp"/>
					<xs:enumeration value="nom"/>
					<xs:enumeration value="tax"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="seq">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="synonym_info" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="synonymy">
		<xs:sequence>
			<xs:element name="synonym" type="synonym" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taxon">
		<xs:sequence>
			<xs:element name="taxon_description" type="taxon_description"/>
			<xs:element name="taxon" type="taxon" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="taxon_description">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="seq" minOccurs="0"/>
			<xs:element name="title" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="etymology" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="i"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="contributors" type="contributors" minOccurs="0"/>
			<xs:element name="name_info" type="name_info" minOccurs="0"/>
			<xs:element name="typification" type="typification" minOccurs="0"/>
			<xs:element name="description" type="description" minOccurs="0"/>
			<xs:element name="chromosome" type="chromosome" minOccurs="0"/>
			<xs:element name="distribution" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="distribution">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="i"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="note" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="note">
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="i"/>
								<xs:element name="b">
									<xs:complexType mixed="true">
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element ref="i"/>
										</xs:choice>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bibliography" type="bibliography" minOccurs="0"/>
			<xs:element name="identification" type="identification" minOccurs="0"/>
			<xs:element name="habitat" type="habitat" minOccurs="0"/>
			<xs:element name="synonymy" type="synonymy" minOccurs="0"/>
			<xs:element name="common_name" minOccurs="0">
				<xs:complexType mixed="true"/>
			</xs:element>
			<xs:element name="illustrations" type="illustrations" minOccurs="0"/>
			<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="phenology" minOccurs="0"/>
			<xs:element name="prenote" type="prenote" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimens" type="specimens" minOccurs="0"/>
			<xs:element ref="HID" minOccurs="0"/>
			<xs:element ref="name_symbol" minOccurs="0"/>
			<xs:element name="conservation_status" type="conservation_status" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="title" type="xs:string"/>
	<xs:complexType name="type" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="typification" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="i"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="volume">
		<xs:annotation>
			<xs:documentation> root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="taxon" type="taxon"/>
				<xs:element name="source">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="note">
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:element ref="i"/>
								</xs:choice>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="species" type="xs:string"/>
	<xs:element name="image_url" type="image_url"/>
	<xs:element name="image" type="image"/>
	<xs:element name="key_from" type="xs:string"/>
	<xs:element name="b" type="xs:string"/>
	<xs:element name="subsp" type="xs:string"/>
	<xs:element name="var" type="xs:string"/>
</xs:schema>
